
<h1>
{{ position.title }}: What Your Opponent Could Do
</h1>

{% for sub in getattr(position.opponent, 'submission', ()) %}
<li><A HREF={{- make_url('submissionA', submission=sub.id) -}}>
{{ sub.title }}
</A>
:
{% for opp in getattr(sub, 'opportunity', ()) %}
( {{- '\n'.join(opp) -}} )
{% endfor %}
</li>
{% endfor %}

{% for tr in getattr(position.opponent, 'transition', ()) %}
<li><A HREF={{- make_url('transitionA', transition=tr.id) -}}>
{{ tr.title }}
</A>
:
{% for opp in getattr(tr, 'opportunity', ()) %}
( {{- '\n'.join(opp) -}} )
{% endfor %}
</li>
{% endfor %}

<HR>
[
<A HREF={{- make_url('/random') -}}>RANDOM</A> 
| <A HREF={{- make_url('/') -}}>HOME</A> 
]
