
<h1>
{{ position.title }}: What Can You Do?
</h1>

{% if hasattr(position, 'image') %}
  <IMG SRC="{{- position.image[0].url -}}"><BR>
{% endif %}

What transitions and submissions can you try here?

<HR>
[
<A HREF={{- make_url('positionA', position=position.id) -}}>NEXT</A> 
{% if hasattr(position, 'opponent') and (position.opponent.transition or position.opponent.submission) %}
| <A HREF={{- make_url('opponentA', position=position.id) -}}>RISKS</A>
{% endif %}
| <A HREF="/random">RANDOM</A> 
| <A HREF="/">HOME</A> 
]
