
<h1>
Transition From {{ transition.fromPos.id }} 
To {{ transition.toPos.id }} 
</h1>

{% if hasattr(transition, 'opportunity') %}
<h2>Opportunities</h2>
{% for opp in transition.opportunity %}
<li> {{ '\n'.join(opp) }} </li>
{% endfor %}
{% endif %}

<h2>Steps</h2>
{{ transition.text }}

{% if hasattr(transition, 'video') %}
<h2>Videos</h2>
{% for v in transition.video %}
{{ v.get_html() }} <BR>
{% endfor %}
{% endif %}

<HR>
<A HREF={{- make_url('position', position=transition.toPos.id) -}}>
NEXT</A> &gt;
<A HREF="/random">RANDOM</A> 
